body {
    background-color: rgb(83, 234, 237);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div {
    border-style: double;
    border-radius: 15px;
    border-color: rgb(2, 59, 59);
    padding: 5px 20px;
    margin: 5px;
}
h3 {
    border-style: inset;
    border-radius: 25px;
    border-color: rgb(2, 59, 59);
    padding: 1px 30px;
    background-color: rgb(133, 247, 247);
}

h1 {
    color: black;
}

p {
    color: rgb(5, 84, 82);
    font-family: Verdana;
    font-size: medium;
}
button {
    background-color: rgb(133, 247, 247);
    border-radius: 8px;
    border-width: 0.1px;
    padding: 3px 10px;

}

button:hover {
    background-color: rgb(65, 219, 219);   
}